<% provide(:title, "Articles | Cas van der Hoven") %>
<% @articles.each do |article| %>
  <div class="article-preview article-<%= article.category %>">
    <h2 class="date"><%= article.created_at.strftime("%A, %B %e") %></h2>
    <%= link_to article do %>
      <h1 class="title"><%= article.title %></h1>
      <% if signed_in? %>
        <ul>
          <li><%= link_to "edit article", edit_article_path %></li>
          <li><%= link_to "destroy article", article_path, method: :destroy %></li>
        </ul>
      <% end %>
    <% end %>
    <span class="category tag-<%= article.category %>"><%= article.category %></span>
  </div>
<% end %>

<ul class="menu">
  <li><h2><%= link_to "blog", articles_path %></h2></li>
  <li><h2><%= link_to fa_icon('twitter lg'), "https://twitter.com/casvanderhoven" %><%= link_to fa_icon('github lg'), "https://github.com/casvanderhoven" %> <%= link_to fa_icon('send lg'), "mailto:casvanderhoven@gmail.com"%></h2></li>
  <% if !signed_in? %>
    <li><h2><%= link_to "log in", sign_in_path %></h2></li>
  <% else %>
    <li><h2><%= link_to "new article", new_article_path %></h2></li>
    <li><h2><%= link_to "log out", sign_out_path, method: :delete %></h2></li>
  <% end %>
</ul>
