<% provide(:title, "#{@article.title} | Cas van der Hoven") %>
<div class="article-preview article-<%= @article.category %>">
  <h2 class="date"><%= @article.created_at.strftime("%A, %B %e (%Y)") %></h2>
  <h1 class="title"><%= @article.title %></h1>
  <span class="category tag-<%= @article.category %>"><%= @article.category %></span>
  <p><%= markdown @article.content %></p>
  <%= render partial: 'disqus' %>

</div>

<ul class="menu">
  <li><h2><%= link_to "blog", articles_path %></h2></li>
  <li><h2><%= link_to fa_icon('twitter lg'), "https://twitter.com/casvanderhoven" %><%= link_to fa_icon('github lg'), "https://github.com/casvanderhoven" %> <%= link_to fa_icon('send lg'), "mailto:casvanderhoven@gmail.com"%></h2></li>
  <% if !signed_in? %>
    <li><h2><%= link_to "log in", sign_in_path %></h2></li>
  <% else %>
    <li><h2><%= link_to "edit article", edit_article_path %></h2></li>
    <li><h2><%= link_to "delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %></h2></li>
    <li><h2><%= link_to "log out", sign_out_path, method: :delete %></h2></li>
  <% end %>
</ul>
