<% provide(:title, "Cas van der Hoven") %>
<h2 class="intro-text">Welcome to my personal website! You can find the projects I've worked on here, as well as a blog with articles about programming, my personal interests (mostly cooking and football), and a variety of other topics.</h2>
<% @projects.each do |project| %>
  <div class="project">
    <%= link_to project.link do %>
      <h1><%= project.name %></h1>
    <% end %>
    <p><%= project.description %></p>
    <% if signed_in? %>
    <%= link_to "Delete project", project_path(project), method: :delete, class: "delete-link", data: { confirm: "Are you sure you want to delete this project?" } %>
  <% end %>
    <%= image_tag project.image(:normal) %>
  </div>
<% end %>

<ul class="menu">
  <li><h2><%= link_to "resume", resume_path %></h2></li>
  <li><h2><%= link_to "blog", articles_path %></h2></li>
  <li><h2><%= link_to fa_icon('twitter lg'), "https://twitter.com/casvanderhoven" %><%= link_to fa_icon('github lg'), "https://github.com/casvanderhoven" %> <%= link_to fa_icon('send lg'), "mailto:casvanderhoven@gmail.com"%></h2></li>
  <% if !signed_in? %>
    <li><h2><%= link_to "log in", sign_in_path %></h2></li>
  <% else %>
    <li><h2><%= link_to "new project", new_project_path %></h2></li>
    <li><h2><%= link_to "log out", sign_out_path, method: :delete %></h2></li>
  <% end %>
</ul>
