<% @projects.each do |project| %>
  <div class="project">
    <%= link_to project.link do %>
      <h1><%= project.name %></h1>
    <% end %>
    <p><%= project.description %></p>
    <%= link_to "Delete project", project_path(project), method: :delete, class: "delete-link", data: { confirm: "Are you sure you want to delete this project?" } %>
    <%= image_tag project.image(:normal) %>
  </div>
<% end %>

  <ul class="menu">
    <li><h2><%= link_to "blog", articles_path %></h2></li>
    <li><h2><%= icon('twitter') + ' ' + icon('github') + ' ' + icon('send')%></h2></li>
    <% if !signed_in? %>
      <li><h2><%= link_to "log in", sign_in_path %></h2></li>
    <% else %>
      <li><h2><%= link_to "new project", new_project_path %></h2></li>
      <li><h2><%= link_to "log out", sign_out_path, method: :delete %></h2></li>
    <% end %>
  </ul>
